 body {
            background: url(image/Fon2.jpg) center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
         
		 .book-container {
            position: relative;
            display: inline-block;
			}
		.book-info {
            display: none;
            position: absolute;
            background: rgba(255, 255, 255, 0.9);
            padding: 10px;
            border: 1px solid #ccc;
            width: 600px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2000;
        }
        .book-container:hover .book-info {
            display: block;
        }
		
